In [12]:
import pandas as pd
import math

In [11]:
df = pd.read_csv(r"C:\Users\porte\Richard_python\lambda\labs\resfeber_data\data\AB_US_2020.csv")

In [7]:
print(df.shape)
df.head(2)

(226030, 17)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville

In [9]:
# going to remove some of the columns that we will not use
cols_to_use = ["latitude", "longitude", "room_type", "price", "minimum_nights"]
df = df[cols_to_use]
df.shape

(226030, 5)

In [13]:
def change_to_radians(value):
    return math.radians(value)

In [14]:
print(change_to_radians(35.65146))

0.6222353601430576

In [15]:
print(change_to_radians(-82.62792))

-1.4421292580744731