In [16]:
import pandas as pd
import math
import psycopg2
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\porte\Richard_python\lambda\labs\resfeber_data\data\AB_US_2020.csv")

In [4]:
print(df.shape)
df.head(2)

(226030, 17)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville

In [5]:
# going to remove some of the columns that we will not use
cols_to_use = ["latitude", "longitude", "room_type", "price", "minimum_nights"]
df = df[cols_to_use]
df.shape

(226030, 5)

In [ ]:
# changing the roomtype to a numerical value
def

In [8]:
def change_to_radians(value):
    # having it to round to 8 numbers
    return round(math.radians(value), 8)

In [9]:
print(change_to_radians(35.65146))

0.62223536

In [15]:
print(change_to_radians(-82.62792))

-1.4421292580744731

In [10]:
copy_df = df.copy()
copy_df['latitude'] = copy_df['latitude'].apply(change_to_radians)
copy_df['longitude'] = copy_df['longitude'].apply(change_to_radians)
copy_df.head()

   latitude  longitude        room_type  price  minimum_nights
0  0.622235  -1.442129     Private room     60               1
1  0.621299  -1.440864  Entire home/apt    470               1
2  0.621454  -1.440868  Entire home/apt     75              30
3  0.620964  -1.441568  Entire home/apt     90               1
4  0.621589  -1.440617     Private room    125              30

In [4]:
# saving the datafram
copy_df.to_csv("radian_df.csv")

NameError: name 'copy_df' is not defined

In [17]:
connection = psycopg2.connect("dbname=airbnb user=postgres password=3Eyes2ears host=localhost")

In [18]:
cur = connection.cursor()

In [19]:
connection.get_transaction_status()

0

In [20]:
# removing the table
def drop_table(cursor):
    cursor.execute(

        """
        DROP TABLE IF EXISTS airb
        """
    )

In [21]:
def create_staging(cursor, ):
    cursor.execute(
        """
            DROP TABLE IF EXISTS airb;
             CREATE TABLE airb (
            id      integer PRIMARY KEY,
            lat     numeric (8, 6),
            lon     numeric (8, 6),
            room_type  VARCHAR (255),
            price       integer,
            nin_nights integer
            
        )
        """
    )

In [22]:
with connection.cursor() as cursor:
    create_staging(cursor)

In [23]:
def send_csv_psql(connection, csvfile, tableName):
    sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
    thefile = open(csvfile, 'r')
    table = tableName
    with connection.cursor() as cursor:
        cursor.execute("truncate " + table)
        cursor.copy_expert(sql=sql % table, file=thefile)

    return connection.commit()
     
send_csv_psql(connection, r"C:\Users\porte\Richard_python\lambda\labs\resfeber_data\radian_df.csv", "airb")

InvalidTextRepresentation: invalid input syntax for type integer: "Private room"
CONTEXT:  COPY airb, line 2, column price: "Private room"